<!-- todo: scaffold menu bar mechanism -->
<mat-drawer-container class="menu-container">
  <mat-drawer #drawer class="menu-sidenav" mode="side" opened="true">
    <div class="menu-icon">
      <button matFab (click)="showFiller = !showFiller" matTooltip="Show details text" [matTooltipPosition]="'right'">
        <mat-icon>
          @if(showFiller) {
          speaker_notes_off
          } @else {
          speaker_notes
          }
        </mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>

    <div class="menu-icon" routerLink="/loans/open">
      @if (!showFiller) {
      <button matFab matTooltip="Loans Open" [matTooltipPosition]="'right'" color="accent">
        <mat-icon> lock_open</mat-icon>
      </button>
      }
      @else {<button matFab extended color="accent">
        <mat-icon> lock_open</mat-icon>
        Loans <br> Open
      </button>}
    </div>
    <mat-divider></mat-divider>

    <div class="menu-icon" routerLink="/loans/closed">
      @if (!showFiller) {
        <button matFab matTooltip="Loans Closed" [matTooltipPosition]="'right'" color="accent"><mat-icon>lock</mat-icon></button>
      }
      @else {<button matFab extended color="accent">
        <mat-icon>lock</mat-icon>
        Loans <br> Closed
      </button>
      }
    </div>
    <mat-divider></mat-divider>

    <div class="menu-icon" routerLink="/loans/all">
      @if (!showFiller) {
        <button matFab matTooltip="Loans All" [matTooltipPosition]="'right'" color="accent"><mat-icon>email</mat-icon></button>
      }
      @else {<button matFab extended color="accent">
        <mat-icon>email</mat-icon>
        Loans <br> All
      </button>
      }
    </div>
    <mat-divider></mat-divider>

    <div class="menu-icon" routerLink="/loan">
      @if (!showFiller) {
        <button matFab matTooltip="Loans New" [matTooltipPosition]="'right'" color="accent"><mat-icon>note_add</mat-icon></button>
      }
      @else {<button matFab extended color="accent">
        <mat-icon>note_add</mat-icon>
        Loan <br> New
      </button>
      }
    </div>
    <mat-divider></mat-divider>

    <div class="menu-icon" routerLink="/customers">
      @if (!showFiller) {
        <button matFab matTooltip="Customers All" [matTooltipPosition]="'right'" color="accent"><mat-icon>people</mat-icon></button>
      }
      @else {<button matFab extended color="accent">
        <mat-icon>people</mat-icon>
        Customers
      </button>
      }
    </div>
    <mat-divider></mat-divider>

    <div class="menu-icon" routerLink="/customer">
      @if (!showFiller) {
        <button matFab matTooltip="Customer New" [matTooltipPosition]="'right'" color="accent"><mat-icon>person_add</mat-icon></button>
      }
      @else {<button matFab extended color="accent">
        <mat-icon>person_add</mat-icon>
        Customer <br> New
      </button>
      }
    </div>

  </mat-drawer>

  <div class="menu-sidenav-content">
    <!-- todo: add this button to top bar if available -->
    <!-- <button type="button" matButton (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>