.menu-container {
  /* display: flex; */
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.menu-sidenav-content {
  height: 100%;
  width: 100%;
  align-items: center;
}

.menu-sidenav {
  padding: 5px;
  border: 1px solid rgba(5, 24, 187, 0.555);
}

.menu-sidenav,
.menu-sidenav.menu-locked-open,
.menu-sidenav.menu-closed.menu-locked-open-add-active {
  min-width: 0px !important;
  width: auto !important;
  max-width: none !important;
  transition:width 2s;
}

.menu-icon {
  border: 10px solid rgba(0,0,0,0);
}